<div class='item-content'>
  {{ content }}
  {% if page.skills_matter_link %}
    <p>This talk was filmed at the London Django Meetup. You can watch the video on the Skills Matter
    website <a href="{{ page.skills_matter_link }}">here</a>.</p>
  {% endif %}
  {% if page.youtube_embed_url %}
    <div class='iframe-wrapper'>
      <iframe width="560" height="315" src="{{ page.youtube_embed_url }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  {% endif %}
</div>

{% comment %}
  {% include comments/comments.html %}
{% endcomment %}
