---
layout: page
# Generic layout for lists of documents, e.g. the index of talks.
---

<div class="content">
  {{ content }}
  {% assign collection = site.collections | where: "label",page.collection | first %}
  {% assign items = collection.docs | reverse %}
  <div class='mt-5'>
    {% for item in items %}
      <div class="d-block d-xl-none">
        {% include teaser-small.html item=item verbose=true %}
      </div>
      <div class="d-none d-xl-block">
        {% include teaser-large.html item=item %}
      </div>
    {% endfor %}
  </div>
</div>
