{% comment %}
  The code below dynamically generates a sidebar nav of pages with
  `sidebar_link: true` in the front-matter. See readme for usage.
{% endcomment %}
<ul id="page-links" class="nav flex-column">
  {% assign pages_list = site.pages | sort: 'weight' %}
  {% for node in pages_list %}
    {% if node.title != null %}
      {% if node.sidebar_link %}
        <li class="nav-item">
          <a class="nav-link{% if page.url == node.url %} active{% endif %}"
              href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
        </li>
      {% endif %}
    {% endif %}
  {% endfor %}
</ul>
